

#solar-pant-calculator input, #solar-pant-calculator select, #solar-pant-calculator button {
    border: 1px solid #999;
    padding: 4px 5px;
    margin-bottom: 0;
}

#solar-pant-calculator table {
    margin: 10px 0;
    width: 100%;
}
#solar-pant-calculator table th, #solar-pant-calculator table td {
    padding: 3px 10px;
    border: 1px solid #ccc;
    text-align: left;
    font: 18px Arial;
}
#solar-pant-calculator table th {
    text-align: center;
    background: #93BE27;
    color: white;
    border: 1px solid #93BE27;
    font-weight: normal;
    font-size: 20px;
}

.a-right {
    text-align: right !important;
}
.a-center {
    text-align: center !important;
}
.bigger {
    font-size: 120%;
}


.square {
    width: 266px;
}
.area {
    width: 278px;
}


.container {
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
#solar-pant-calculator header {
    position: relative;
    height: 20px;
}
#solar-pant-calculator header > * {
    position: absolute;
}
.logo {
    top: 5px;
}
.title {
    left: 317px;
    top: 20px;
    line-height: 32px;
    font-size: 30px;
}

.content {
    margin-bottom: 30px;
    min-height: 709px;
}

.calcalator {
    width: 600px;
    margin: auto;
}

.slogan-foot {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    border-top: 2px solid #93BE27;
}

/*modal*/

.modal {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 640px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 1px 3px #ccc;
    background: #fff;
    margin: 0 0 0 -320px;
    z-index: 100;
}

.modal h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
}

.modal > .modal-head {
    padding: 0 20px 0;
    border-bottom: 1px solid #ddd;
}
.modal > .modal-body {
    padding: 20px;
    max-height: 900px;
    overflow: auto;
}
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
.close:hover {
    opacity: 0.5;
}

#message {
    padding: 50px;
    font-size: 26px;
    line-height: 26px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 1px 3px #ccc;
    margin-top: 50px;
    text-align: center;
    display: none;

}

/*form*/
.control-group:before,
.control-group:after {
    display: table;
    line-height: 0;
    content: "";
}
.control-group:after {
    clear: both;
}
.control-group {
    margin-bottom: 20px;
}

.control-group label {
    float: left;
    width: 222px;
    padding-top: 2px;
    text-align: right;
    margin-bottom: 5px;
    font-size: 14px;
}
.control-group .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 242px;
    *margin-left: 0;
}
.control-group .checkbox {
    min-height: 20px;
    float: none;
    font-size: 13px;
    line-height: 16px;
    width: inherit;
    text-align: left;
}
.control-group input[type="checkbox"] {
    float: left;
    margin: 2px 12px 0 0;
    line-height: normal;
}
.control-group .checkbox span {
    display: block;
    margin-left: 25px;
}
.control-group .controls input[type="text"],
.control-group .controls input[type="email"] {
    width: 300px;
}
#solar-pant-calculator input[type="submit"] {
    width: 150px;
    color: white;
    text-shadow: rgb(31, 31, 31) 1px 1px 2px;
    background: url('/solarplant/images/button.png') repeat-x 0 -39px;
    padding: 0;
    height: 39px;
    line-height: 39px;
    border: none;
}
#solar-pant-calculator input[type="submit"]:hover {
    background-position: 0 0;
}
#solar-pant-calculator textarea:focus,
#solar-pant-calculator input[type="text"]:focus,
#solar-pant-calculator input[type="password"]:focus,
#solar-pant-calculator input[type="datetime"]:focus,
#solar-pant-calculator input[type="datetime-local"]:focus,
#solar-pant-calculator input[type="date"]:focus,
#solar-pant-calculator input[type="month"]:focus,
#solar-pant-calculator input[type="time"]:focus,
#solar-pant-calculator input[type="week"]:focus,
#solar-pant-calculator input[type="number"]:focus,
#solar-pant-calculator input[type="email"]:focus,
#solar-pant-calculator input[type="url"]:focus,
#solar-pant-calculator input[type="search"]:focus,
#solar-pant-calculator input[type="tel"]:focus,
#solar-pant-calculator input[type="color"]:focus,
#solar-pant-calculator .uneditable-input:focus {
    border-color: #93BE27;
    outline: 0;
    /*outline: thin dotted 9;*/
    -webkit-box-shadow: inset 0 1px 1px #93BE27;
    -moz-box-shadow: inset 0 1px 1px #93BE27;
    box-shadow: inset 0 1px 1px #93BE27;

    margin-bottom: 0;
}
#solar-pant-calculator input:focus:invalid:focus,
#solar-pant-calculator textarea:focus:invalid:focus,
#solar-pant-calculator select:focus:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}
.square-slider{
    padding: 10px;
}

.square-slider > #slider{
    margin: 7px;
    width: 181px;
    float: right;
}

.square-slider > .square{
    border: 0;
}

.square-slider input{
    width: 60px;
    margin-bottom: 0;
}
/
/*<!--wezoom-->*/
.wezoom{
    position: absolute;
    right: 12px;
    top: 40px;
    width: 50px;
    height: 32px;
    background: url('/solarplant/images/wezoom_w.png') no-repeat 0 0;
    color: #eee;
    text-decoration: none;
    padding-left: 34px;
    font-family: Arial;

}
.wezoom > span {
    font-size: 9px;
    display: block;
    margin-top: -10px;
    line-height: 25px;
}
.wezoom > .wz-hand{
    position: absolute;
    right: 9px;
    top: 22px;
}
.wezoom:hover{
    color: black;
}
/*<!--wezoom-->*/