
.background-color__animation {
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.color__animation {
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.categories-list {
    font-size: 0;
    list-style: none;
    text-align: center;
}

.categories-list > li {
    display: inline-block;
    max-width: 360px;
    width: 100%;
    margin: 10px;
}

.categories-list p {
    margin-top: 0;
    margin-bottom: 1em;
}

.articles-tabs{
    text-align: left;
    border-bottom: 1px solid #47AE34;
}

.articles-tabs > li{
    max-width: none;
    width: auto;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: bottom;
}

.articles-tabs > li:last-child{
    margin-right: 0;
}

.articles-tabs > li > h3 > a{
    font-size: 15px;
    line-height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    height: 45px;
    background-color: #a8a9a9;
    color: #f0f0f0;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
}
.articles-tabs > li.active > h3 > a{
    height: 50px;
    line-height: 54px;
    background-color: #47AE34;
    color: #FFFFFF;
    font-weight: 700;
}

.articles-tabs > li > h3 > a:hover{
    background-color: #47AE34;
    color: #FFFFFF;
    height: 50px;
    line-height: 54px;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, height 0.3s ease-in-out, line-height 0.3s ease-in-out;
}
.articles-tabs > li > p{
    display: none;
}

.posts-list {
    font-size: 0;
    list-style: none;
}

.posts-list > li {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 60px;
    min-height: 215px;
    border-bottom: 1px solid #d8d8d8;
    display: block;
    overflow: auto;
    background-color: transparent;
}

.posts-list > li:last-child {
    border-bottom: none;
}

.posts-list > li:hover {
    background-color: #d8d8d8;
}

.posts-list h3 {
    padding-top: 10px;
    color: #47AE34;
    line-height: 1.4em;
    padding-bottom: 5px;
}

.posts-list h3 > a {
    color: inherit;
}

.posts-list h3:hover {
    color: #000000;
}

.posts-list p {
    margin: 0;
}

.posts-list p.content-preview {
    margin: 1em 0;
}

.posts-list .post-content {
    margin-left: 310px;
}

.posts-list .post-media {
    width: 280px;
    float: left;
}

.posts-list .media-inner {
    position: relative;
    min-height: 21px;
    height: 215px;
    overflow: hidden;
    background: transparent;
    display: block;
}

.posts-list .media-inner > img {
    transition: all .3s;
    width: 100%;
}

.city-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slide {
    position: absolute;
    bottom: 18%;
    color: #FFF;
    font-family: "Arial Narrow", Arial, Sans-Serif;
    opacity: 0;
    left: 0;
    right: 0;

}

.slide h3 {
    padding: 0;
    margin: 0 20% 20px 20%;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    font-style: italic;
    color: #ffffff;
}

.slide p {
    padding: 0 20% 10px 20%;
    font-size: 22px;
    text-align: center;
    line-height: 1.5em;
    color: #ffffff;
}

.socials-wrapper a[data-type="ema-icon"] {
    display: inline-block;
    font-size: 0;
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    transition: all .4s ease;
    line-height: 38px;
    margin-right: 20px;
}

.socials-wrapper a[data-type="ema-icon"]:before {
    height: 29px;
    width: 29px;
    position: absolute;
    transition: all .4s ease;
}

.colored-icons-hovers a[data-type="ema-icon"]:before {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;

}

.colored-icons-hovers a[data-type="ema-icon"]:hover:before {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);

}

.opacity-icon-hover a[data-type="ema-icon"]:before {
    opacity: 0.3;
}

.opacity-icon-hover a[data-type="ema-icon"]:hover:before {
    opacity: 0.6;
}

.socials-wrapper .ema-icon-fb:before {
    content: url('/img/facebook.png');
}

.socials-wrapper .ema-icon-twitter:before {
    content: url('/img/twitter.png');
}

.socials-wrapper .ema-icon-gplus:before {
    content: url('/img/goggle.png');
}

.socials-wrapper .ema-icon-youtube:before {
    content: url('/img/youtube.png');
}

.socials-wrapper .ema-icon-linkedin:before {
    content: url('/img/linkedin.png');
}

.socials-wrapper .ema-icon-telegram:before {
    content: url('/img/telegram.png');
}

.top-cell-wrapper {
    vertical-align: middle;
    line-height: 38px;
}

.language-selection-wrapper > a:first-child {

}

.language-selection-wrapper > a {
    display: inline-block;
    margin-right: 18px;
    font-size: 20px;
}

.language-selection-wrapper > a:last-child {
    margin-right: 0;
}

.language-selection-wrapper > a:last-child:after {
    content: normal;
}

.language-selection-wrapper > a.active {
    color: #47AE34;
}

/* INDEX PAGE INLINE STYLES*/
#intro p, #intro .column-title, #intro .sep-text h2.regular-title-wrapper, #intro .text-divider-double, #intro .sep-text .sep-text-line, #intro .sep, #intro .sep-2, #intro .sep-3, #intro td, #intro th, #intro caption {
    color: #808080;
}

#intro:before {
    background-color: transparent;
}

#wpv-column-3b8737bdee85e16e157026e0acde8a1b p, #wpv-column-3b8737bdee85e16e157026e0acde8a1b .column-title, #wpv-column-3b8737bdee85e16e157026e0acde8a1b .sep-text h2.regular-title-wrapper, #wpv-column-3b8737bdee85e16e157026e0acde8a1b .text-divider-double, #wpv-column-3b8737bdee85e16e157026e0acde8a1b .sep-text .sep-text-line, #wpv-column-3b8737bdee85e16e157026e0acde8a1b .sep, #wpv-column-3b8737bdee85e16e157026e0acde8a1b .sep-2, #wpv-column-3b8737bdee85e16e157026e0acde8a1b .sep-3, #wpv-column-3b8737bdee85e16e157026e0acde8a1b td, #wpv-column-3b8737bdee85e16e157026e0acde8a1b th, #wpv-column-3b8737bdee85e16e157026e0acde8a1b caption {
    color: #b3b3b3;
}

.wpv-accordion-1 .tab:not(.has-bg) .inner {
    background-color: #ffffff;
    color: #333333;
}

.wpv-accordion-2 .tab:not(.has-bg) .inner {
    background-color: #ffffff;
    color: #333333;
}

.wpv-accordion-3 .tab:not(.has-bg) .inner {
    background-color: #ffffff;
    color: #333333;
}

#wpv-column-3b8737bdee85e16e157026e0acde8a1b:before {
    background-color: transparent;
}

#wpv-column-34a843936d52d167d53f3e084dcaaa06 p, #wpv-column-34a843936d52d167d53f3e084dcaaa06 .column-title, #wpv-column-34a843936d52d167d53f3e084dcaaa06 .sep-text h2.regular-title-wrapper, #wpv-column-34a843936d52d167d53f3e084dcaaa06 .text-divider-double, #wpv-column-34a843936d52d167d53f3e084dcaaa06 .sep-text .sep-text-line, #wpv-column-34a843936d52d167d53f3e084dcaaa06 .sep, #wpv-column-34a843936d52d167d53f3e084dcaaa06 .sep-2, #wpv-column-34a843936d52d167d53f3e084dcaaa06 .sep-3, #wpv-column-34a843936d52d167d53f3e084dcaaa06 td, #wpv-column-34a843936d52d167d53f3e084dcaaa06 th, #wpv-column-34a843936d52d167d53f3e084dcaaa06 caption {
    color: #b3b3b3;
}

#wpv-column-34a843936d52d167d53f3e084dcaaa06:before {
    background-color: transparent;
}

#wpv-column-02f6db0e5528cdd238e016b3d2aab7fc p, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc .column-title, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc .sep-text h2.regular-title-wrapper, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc .text-divider-double, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc .sep-text .sep-text-line, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc .sep, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc .sep-2, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc .sep-3, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc td, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc th, #wpv-column-02f6db0e5528cdd238e016b3d2aab7fc caption {
    color: #b3b3b3;
}

#wpv-column-02f6db0e5528cdd238e016b3d2aab7fc:before {
    background-color: transparent;
}

#wpv-column-86094049fccc342657992b962dd96b14 p, #wpv-column-86094049fccc342657992b962dd96b14 .column-title, #wpv-column-86094049fccc342657992b962dd96b14 .sep-text h2.regular-title-wrapper, #wpv-column-86094049fccc342657992b962dd96b14 .text-divider-double, #wpv-column-86094049fccc342657992b962dd96b14 .sep-text .sep-text-line, #wpv-column-86094049fccc342657992b962dd96b14 .sep, #wpv-column-86094049fccc342657992b962dd96b14 .sep-2, #wpv-column-86094049fccc342657992b962dd96b14 .sep-3, #wpv-column-86094049fccc342657992b962dd96b14 td, #wpv-column-86094049fccc342657992b962dd96b14 th, #wpv-column-86094049fccc342657992b962dd96b14 caption {
    color: #767676;
}

#wpv-column-86094049fccc342657992b962dd96b14:before {
    background-color: transparent;
}

#our-clients-wrapper .bx-prev {
    right: auto;
}

#resp-menu{
    position: absolute;
    z-index: 10;
    width: 100%;
}
#resp-menu ul {
    list-style: none;
    margin: 0;
}
#resp-menu li {
    padding: 0;
}
#resp-menu a{
    background-color: #8fb83e;
    color: #FFFFFF;
    line-height: 46px;
    font-size: 15px;
    display: block;
    border-bottom: 1px solid #688c20;
    padding-left: 34px;
}
#resp-menu a.back-bnt{
    background-color: #575757;
}
#resp-menu a.back-bnt:before{
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKAgMAAAABV3yjAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEUAAAAAAAC1tbUAAACNZYycAAAAAnRSTlMATX7+8BUAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAJklEQVQI12NgaGBgcmDgZGBQYWCYwMCQwMAgwcDAxsDA2MDA4AAAKn4CvxyAG20AAAAASUVORK5CYII=');
    padding-right: 9px;
}
#resp-menu a.has-children:after{
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKAgMAAAABV3yjAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEUAAAAAAADq/8AAAAA+Hyb4AAAAAnRSTlMATX7+8BUAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAJklEQVQI12NoYGBIYGCQYGBgY2BgaGBgcmDgZGBQYWCYwMDgwAAAKy0Cvk6UKjwAAAAASUVORK5CYII=');
    padding-left: 8px;
    vertical-align: middle;
}
#resp-menu-icon{
    cursor: pointer;
}
#resp-icon-wrapper{
    display: none;
    vertical-align: middle;
    padding-left: 19px;
}

.search-input--wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.search-input--wrapper > div {
    /*display: table-cell;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
}

.search-results {
    list-style: none;
}
.search-results > li {
    margin-bottom: 34px;
    padding-bottom: 25px;
    border-bottom: 1px solid #acacac;
}
.search-results h3 > a{
    color: #47AE34;
}

.search-results h3 > a:hover{
    color: #000000;
}
.search-no-results {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 350px;
}

ul.menu > li.has-children > a:after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADAQMAAABh+Fe7AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAOSURBVAjXY/jBUMCgAAAGTgGJDhx0ewAAAABJRU5ErkJggg==');
    position: relative;
    top: -2px;
    margin-left: 3px;
}

ul.menu > li.has-children:hover > a:after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADAgMAAAAmWC1rAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUAAACNqTIAAAAGWCMLAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAARSURBVAjXYwh1YBBlYGBhAAAE4gCvSnaeygAAAABJRU5ErkJggg==');
}

ul.sub-menu > li.has-children > a {
    display: table;
}

ul.sub-menu > li.has-children > a > span {
    display: table-cell;
    width: 100%;
}

ul.sub-menu > li.has-children > a:after{
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHAQMAAAAVq36TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAUSURBVAjXY2hgcGBQYBAAYgeGBgAMvgHRPMf22AAAAABJRU5ErkJggg==');
    display: table-cell;
    vertical-align: middle;
}


ul.sub-menu > li.has-children:hover > a:after{
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHAgMAAABSCwRDAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUAAACNqTIAAAAGWCMLAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAUSURBVAjXY3BgEGBgYWAEYgEGBwAErQCqZJCq8gAAAABJRU5ErkJggg==');
}

#share {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width: 1100px) {
    .slide {
        bottom: 25%;
    }

    .slide h3 {
        font-size: 22px;
    }

    .slide p {
        font-size: 32px;
    }
}

@media screen and (max-width: 958px){
    #resp-icon-wrapper{
        display: table-cell;
    }
    #top-cell > div{
        width: auto !important;
        clear: inherit !important;
        float: left !important;

    }
    #top-cell .grid-1-4{
        width: 25% !important;
    }
    #top-cell .grid-1-2{
        width: 50% !important;
    }

    .posts-list .post-media {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .posts-list .post-content {
        margin-left: 0;
    }
    .articles-tabs > li {
        margin-top: 10px;
    }


}

@media (max-width: 800px) {

    .slide p {
        line-height: 1em;
    }
}


@media screen and (max-width: 720px){
    .language-selection-wrapper > a:first-child{
        margin-left: 0;
    }
    #top-cell .grid-1-4{
        width: 50% !important;
    }
    .search-input--wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}





@media (max-width: 600px) {
    .slide h3 {
        font-size: 14px;
        padding: 0 10px;
    }

    .slide p {
        padding: 0 10px;
        font-size: 16px;
        line-height: 1em;
    }

    #header-contents-wrapper{
        display: block;
    }

    .responsive-layout header.main-header.layout-logo-menu .first-row {
        display: inline-block;
    }

    #resp-icon-wrapper  {
        display: inline-block;
    }

    .search-input--wrapper {
        display: block;
        text-align: center;
    }
}


@media screen and (max-width: 479px){
    #resp-icon-wrapper{
        padding-top: 4px;
    }
}

/*footer*/
.footer-top-bg {
    position: relative;
    height: 85px;
    background: url("../images/propeller/bg.png") bottom repeat-x;
}

.footer-img {
    width: 1000px;
    height: 85px;

    margin: 0 auto;
    position: relative;
    background: url("../images/propeller/main.png") right bottom no-repeat;
}

.propeller-1, .propeller-2, .propeller-3 {
    width: 49px;
    height: 49px;
    position: absolute;
    top: 1px;
}

.propeller-1 {
    right: 148px;
}

.propeller-2 {
    right: 74px;
}

.propeller-3 {
    right: 0;
}

.moving-light {
    background: url("../images/propeller/light.png") no-repeat scroll 0 0 transparent;
    height: 27px;
    position: absolute;
    z-index: 20;
    right: 165px;
    top: 21px;
    width: 27px;
}

.window-big-1 {
    background: url("../images/propeller/window-big.png") no-repeat scroll 0 0 transparent;
    height: 13px;
    left: 286px;
    position: absolute;
    top: 30px;
    width: 14px;
}

.window-big-2 {
    background: url("../images/propeller/window-big.png") no-repeat scroll 0 0 transparent;
    height: 13px;
    left: 112px;
    position: absolute;
    top: 30px;
    width: 14px;
}

.window-medium {
    background: url("../images/propeller/window-medium.png") no-repeat scroll 0 0 transparent;
    height: 11px;
    left: 18px;
    position: absolute;
    top: 39px;
    width: 12px;
}

.window-small {
    background: url("../images/propeller/window-small.png") no-repeat scroll 0 0 transparent;
    height: 8px;
    left: 168px;
    position: absolute;
    top: 51px;
    width: 8px;
}

.window-big-1, .window-big-2, .window-medium, .window-small {
    display: block;
}

@media (max-width: 1000px) {
    .footer-img {
        width: 605px;
        background: url("../images/propeller/bg.png") right bottom no-repeat;
    }

    .window-medium {
        display: none;
    }

    .window-big-1 {
        left: 181px;
    }

    .window-big-2 {
        left: 8px;
    }

    .window-small {
        left: 62px;
    }
}

@media (max-width: 1000px) {
    .footer-img {
        width: 1px;
        display: none;
    }
}
